/* global */

// font 
$font-main: #262626;
$font-second: #9C9C42;
$font-white: #FFFFFF;

// background, border
$back-white: #FFFFFF;
$brend-color: #9C9C42;
$section-back: #F5F5F5;

/* header */
$separator-line: #999898;


/* main */

/* footer */