/* import */
@import "var";
@import "mixin";


/* reset */
* {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1rem;
}

.body--lock {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

main {
    background-color: $back-white;
}

/* wrapper, container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    width: 100%;
    height: 10.5rem;

    position: relative;
    z-index: 10;

    &__container {
        padding: 0;
    }
}

.navbar {
    padding: 0 15px;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        flex: 0 0 210px;
        height: 10.5rem;
        position: relative;
        z-index: 10;
        display: block;

        &-wrapp {
            width: 210px;
            height: 210px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            background-color: $back-white;
        }

        &-img {
            width: 147px;
            height: 147px;
        }
    }
}

// menu 
.menu {
    flex: 1 1 100%;
    padding-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // burger
    @media screen and (max-width: 992px) {
        width: 100%;
        height: 100vh;
        padding: 0;
        
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 15;

        flex-flow: column;
        justify-content: center;
        gap: 40px;

        background-color: $brend-color;
        opacity: 0.98;
        
        transition: 0.6s left;

        &--open {
            left: 0;
        }
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;

    &__link {
        font-size: 1.8em;
        font-weight: 500;
        color: $font-main;

        transition: 0.4s; 

        &:hover {
            opacity: 0.7;
        }
    }

    // burger
    @media screen and (max-width: 992px) {
        flex-flow: column;
    }
}

.button-menu {
    padding-right: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &__line {
        width: 1px;
        height: 39px;
        display: block;
        background-color: $separator-line;
    }

    &__button {
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }

    &__icon {
        width: 29px;
        height: 29px;
        fill: $font-main;

        transition: 0.4s;

        &:hover {
            opacity: 0.7;
        }
    }

    // burger
    @media screen and (max-width: 992px) {
        padding-right: 0;

        &__line {
            background-color: $main-back;
        }
    }
}

.login-button {
    border: 1px solid $brend-color;
    padding: 1.2rem 3.1rem;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8em;
    color: $font-second;

    transition: 0.4s all;

    &:hover {
        background-color: $brend-color;
        color: $font-white;
    }

    // burger
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.menu-button {
    display: none;
    
    // burger
    @media screen and (max-width: 992px) {
        width: 40px;
        height: 40px;
        border: none;
        padding: 10px 5px;
        position: relative;
        z-index: 20;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        background-color: transparent;
        cursor: pointer;

        &__line {
            width: 30px;
            height: 3px;
            background-color: $main-back;
            border-radius: 5px;

            transition: 0.3s all;

            &--over {
                opacity: 0.7;
            }

            &--active {
                position: absolute;
                transition: 0.4s;

                &:first-child {
                    top: 20px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    top: 20px;
                    transform: rotate(-45deg);
                }

            }
        }
    }
}

/* hero */
.hero {
    width: 100%;
    height: calc(100vh - 105px);
    padding: 0 15px;
    @include background-image("../img/01_1.jpg");
    
    &__container {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &__heading {
        max-width: 57rem;
    }

    &__title {
        margin-bottom: 6px;
        @include responsive-font(48, 28, 1280, 320);
        font-weight: 700;
        line-height: 145%;
        color: $font-white;
    }

    &__sub-title {
        margin-bottom: 35px;
        @include responsive-font(18, 14, 1280, 320);
        line-height: 27 / 18 * 100%;
        color: $font-white;
    }

    &__button {
        border: 1px solid $back-white;
        padding: 0.8em 1.56em;
        font-size: 1.6em;
        font-weight: 600;
        line-height: 24 / 16 * 100%;
        color: $font-white;

        transition: 0.4s all;

        &:hover {
            background-color: $back-white;
            color: $font-second;
        }
    }
}

/* products */
.products{
    padding: 10rem 0;
    background-color: $section-back;

    &__heading {
        margin-bottom: 40px;
    }

    &__title {
        max-width: 28.5rem;
        @include responsive-font(36, 24, 1280, 320);
        font-weight: 700;
        line-height: 54 / 36 * 100%;
        text-transform: uppercase;
        color: $font-main;

        &--brend {
            color: $brend-color;
        }

        @media screen and (max-width: 992px) {
            margin: 0 auto;
        }
    }

    &__action {
        margin-top: 40px;
        text-align: center;
    }
}

.products-menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;

    &__item {
        flex: 1 1 270px;
    }

    @media screen and (max-width: 1020px) {
        flex-flow: wrap;
        justify-content: center;
        
        &__item {
            flex: 0 0 300px;
        }
    }
}

.product-card {
    text-align: center;
    background-color: $back-white;

    &__wrapper {
        padding: 25px 20px;
        display: block;

        border-radius: 5px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    }

    &__prev {
        width: 95px;
        height: 200px;
        margin: 0 auto;
    }

    &__image {
        object-fit: cover;
    }

    &__manufacturer {
        margin-bottom: 5px;
        font-size: 1.6em;
        font-style: italic;
        line-height: 24 / 16 * 100%;
        color: $font-main;
    }

    &__name {
        margin-bottom: 15px;
        font-size: 1.6em;
        font-weight: 600;
        line-height: 24 / 16 * 100%;
        color: $font-main;
    }
    
    &__size {
        font-weight: 400;
    }

    &__price {
        margin-bottom: 15px;
        font-size: 2.4em;
        font-weight: 600;
        line-height: 36 / 24 * 100%;
        color: $brend-color;
    }

    &__button {
        margin: 0 auto;
        border: 1px solid $brend-color;
        padding: 0.6em 1.38em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: transparent;
        border-radius: 10px;
        cursor: pointer;
        fill: $font-second;

        font-size: 1.8em;
        font-weight: 500;
        color: $brend-color;

        transition: 0.4s;

        &:hover {
            background-color: $brend-color;
            color: $font-white;
            fill: $font-white;
        }

        &-icon {
            width: 29px;
            height: 29px;
            fill: inherit;
        }
    }
}

.products-link {
    padding: 0.6em 1.38em;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $brend-color;
    border-radius: 10px;
    font-size: 1.8em;

    transition: 0.4s;

    &:hover {
        background-color: transparentize($brend-color, 0.3);
    }

    &__text {
        font-size: 1em;
        font-weight: 500;
        line-height: 27 / 18 * 100%;
        color: $font-white;
    }

    &__icon {
        width: 22px;
        height: 16px;
    }
}

/* about */
.about {
    padding: 100px 0;
    position: relative;

    &__background  {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(180deg);

            @media screen and (max-width: 567px) {
                object-position: 100% 0;
            }
        }
    }

    &__descript {
        max-width: 570 / 1280 * 100%;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 567px) {
            max-width: 100%;
        }
    }

    &__heading {
        @extend .products__heading;
        
    }

    &__title {
        @extend .products__title;
        margin: 0;

        &--brend {
            color: $brend-color;
        }
    }

    &__text {
        margin-bottom: 50px;
        font-size: 1.6em;
        line-height: 162%;
        color: $font-main;
    }

    &__link {
        padding: 0.61em 1.38em;
        
        background-color: $brend-color;
        border-radius: 10px;
        
        font-size: 1.8em;
        font-weight: 500;
        line-height: 27 / 18 * 100%;
        color: $font-white;

        transition: 0.4s background-color;

        &:hover {
            background-color: transparentize($brend-color, 0.3);
        }
    }
}

/* blog */
.blog {
    padding: 100px 0;

    &__heading {
        margin-bottom: 50px;
        display: flex;
        align-items: flex-end;
        gap: 15px;
    }

    &__title {
        @extend .products__title;
        margin: 0;
        line-height: 100%;
    }

    &__link {
        position: relative;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 16 / 24 * 100%;
        color: $font-second;
        transition: 0.4s;

        &::after {
            content: "";
            width: 0.8rem;
            height: 1.4rem;

            position: absolute;
            top: 50%;
            right: -15px;

            background-image: url("../img/more-arrow.svg");
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            transform: translateY(-40%);
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.blog-menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;

    &__article {
        flex: 1 1 37rem;
    }

    @media screen and (max-width: 870px) {
        flex-flow: wrap;
    }
}

.blog-article {

    &__wrapper {
        width: 100%;
        height: 100%;

        display: block;
    }

    &__media {
        width: 100%;
        height: 22.5rem;
        margin-bottom: 20px;
        
        position: relative;

        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;

        overflow: hidden;

        &--first {
            background-image: url("../img/04_1.jpg");
        }

        &--second {
            background-image: url("../img/04_2.jpg");
        }

        &--third {
            background-image: url("../img/04_3.jpg");
        }
    }

    &__arrow {
        width: 98px;
        height: 98px;

        position: absolute;
        right: -49px;
        bottom: -49px;

        background-color: $brend-color;
        border-radius: 50%;

        &-icon {
            width: 22px;
            height: 18px;

            position: absolute;
            top: 21px;
            left: 19px;
        }
    }

    &__statistic {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 1rem;

        font-size: 1.4em;
        color: $font-main;
    }

    &__circle {
        width: 5px;
        height: 5px;

        background-color: $brend-color;
        border-radius: 50%;
    }

    &__views {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__eye {
        width: 16px;
        height: 16px;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 2em;
        font-weight: 600;
        line-height: 30 / 20 * 100%;
        color: $font-main;
    }

    &__text {
        font-size: 1.6em;
        line-height: 164%;
        color: $font-main;
    }
}

/* recipes */
.recipes {
    padding: 100px 0;
    background-color: $section-back;

    &__heading {
        @extend .blog__heading;
    }

    &__title {
        @extend .blog__title;
    }

    &__link {
        @extend .blog__link;
    }
}

.recipes-menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;

    &__item {
        flex: 1 1 370px;
    }

    @media screen and (max-width: 870px) {
        flex-flow: wrap;
    }
}

.recipes-card {

    &__wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__media {
        width: 100%;
        height: 22.5rem;
        margin-bottom: 15px;
        
        position: relative;

        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &::before {
            padding: 6px 19px;

            position: absolute;
            top: 0;
            left: 0;

            background-color: $brend-color;
            border-bottom-right-radius: 15px;

            font-size: 1.6em;
            line-height: 26 / 16 * 100%;
            color: $font-white;
        }

        &--first {
            background-image: url("../img/05_1.jpg");
            
            &::before {
                content: "Breakfast";
            }

        }

        &--second {
            background-image: url("../img/05_2.jpg");

            &::before {
                content: "Salads";
            }
        }

        &--third {
            background-image: url("../img/05_3.jpg");

            &::before {
                content: "Main Dishes";
            }
        }
    }

    &__title {
        font-size: 2em;
        font-weight: 600;
        line-height: 30 / 20 * 100%;
        color: $font-main;
    }
}

/* footer */
.footer {
    padding: 50px 0;
    background-color: $brend-color;
    font-size: 1.4em;
    color: $font-white;
}

.footer-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    &__title {
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: 600;
    }

    @media screen and (max-width: 567px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 400px) {
        grid-template-columns: 1fr;
    }
}

.footer-list {
    display: flex;
    flex-flow: column;
    gap: 10px;

    &__link {
        transition: 0.4s opacity;

        &:hover {
            opacity: 0.7;
        }
    }
}